package dssh

import "testing"

func TestTunnel(t *testing.T) {
	//Tunnel("fghosth", "zaqwedcxs", "101.132.242.15:22122", "pgm-uf64s9b1iak3x5wf168220.pg.rds.aliyuncs.com:1921", "localhost:11921",key)
	//Tunnel("fghosth", "zaqwedcxs", "101.132.242.15:22122", "pgm-uf64s9b1iak3x5wf168220.pg.rds.aliyuncs.com:1921", "localhost:11921",[]byte(""))
	Tunnel("fghosth", "", "116.214.33.35:2637", "192.168.2.152:", "localhost:11921", []byte(""))
}

var (
	key = []byte(`
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
NhAAAAAwEAAQAAAgEAyAEHeZTIokKRwISjNMS54NCYgo76MO+7zPg4tV+UDTRQtjtupJvl
1uRSG9PL3s6803aYISjQgV8prThNyXEfiXACQ6QDI49OjACUejHgFcmAEkvzll1btLNFOS
mlwkAZLITFoVBOxR4I85fthT7xqtddesSd8mptEmtWvkdmQ6KNRJapWQ68M+Bo9kHQXH/4
Cm5CsBQD4g8zfBuJ854LLbrD6VqrfJ+/zJueQI0NHt5rmMa/dYJo0LiHFeEaji9OQ8e6Ll
NpRmPBE+crKp6IZM6cDurie0gzJQFvgE3ciKZXzIKjxLomPedc+HudOkoIHyevPuxkohNu
l5fvl+DY6Us0P+SqkXhFedcFA8VPvYaxIJyOuzaFQ7Iol9Vw85ZSvD2znzFHdOUj2elYT/
HO70WBSRqFuwxK23WmGoONbfq4lJAYAZow9+FxkC03HznXX9W68mGdQm4oEmEC5u0KZ7Pw
gZUuEWJEklBlq3JzLD0dYxrVcn9DC4OgTQDz3dXqPYPfQoshEpxQo+OLhcT10jS/slLI5F
eReQiQdXEWch2AVxyMw22ytmAo0Gjbkm+wGyr9B3qU1WlNyq0CdZEnOYwQLqGAX4hDQQ0+
2rrYUSn6WjGlAp9V5MCzXTjWi55WK95hMMtHHnP/J4n0tjLhuHtx2e1RC1FLCTtDADYnuF
MAAAdQh3k294d5NvcAAAAHc3NoLXJzYQAAAgEAyAEHeZTIokKRwISjNMS54NCYgo76MO+7
zPg4tV+UDTRQtjtupJvl1uRSG9PL3s6803aYISjQgV8prThNyXEfiXACQ6QDI49OjACUej
HgFcmAEkvzll1btLNFOSmlwkAZLITFoVBOxR4I85fthT7xqtddesSd8mptEmtWvkdmQ6KN
RJapWQ68M+Bo9kHQXH/4Cm5CsBQD4g8zfBuJ854LLbrD6VqrfJ+/zJueQI0NHt5rmMa/dY
Jo0LiHFeEaji9OQ8e6LlNpRmPBE+crKp6IZM6cDurie0gzJQFvgE3ciKZXzIKjxLomPedc
+HudOkoIHyevPuxkohNul5fvl+DY6Us0P+SqkXhFedcFA8VPvYaxIJyOuzaFQ7Iol9Vw85
ZSvD2znzFHdOUj2elYT/HO70WBSRqFuwxK23WmGoONbfq4lJAYAZow9+FxkC03HznXX9W6
8mGdQm4oEmEC5u0KZ7PwgZUuEWJEklBlq3JzLD0dYxrVcn9DC4OgTQDz3dXqPYPfQoshEp
xQo+OLhcT10jS/slLI5FeReQiQdXEWch2AVxyMw22ytmAo0Gjbkm+wGyr9B3qU1WlNyq0C
dZEnOYwQLqGAX4hDQQ0+2rrYUSn6WjGlAp9V5MCzXTjWi55WK95hMMtHHnP/J4n0tjLhuH
tx2e1RC1FLCTtDADYnuFMAAAADAQABAAACAQC+SkxkXyztRM0MEKZ/hFUeExmnzoU4nj9e
ayT5XDCux4GrgKxqrXFmneGJXF/yY1zBDWr80apgDLzIdHN+H8VTrGBbHudlo+mlxr9964
o68HaL8fuWqsigCpjoJDnzsazB8KlgK9pmLYdyzLBOQG8KjtIABqYIiT2xcrMbYy9nVnd2
NKp3c0+ZRABZnJC0EYVb10BX6xMuuCvR/xmn0kzse2/+zCew8QU5lS5iWFGNdy2ENEThdu
xm+cp9BKmRcmzSjGsVvILDWBHR7/XgHOnEj9dnUg+eIDmZEd6Wgn46/Zk3mWxbtojACSsp
t+MGHH3Rtp5EDgJJOpfUX9iz9lgpIJcAMa7PF1F7ONMyneKSqfgu3Fc3sB8lZFwZBoMNp7
1kREtLd2OEMD6bY8t/Ss9wmltprJXAFXYq4OY3qV/lDOSH5Ghmosn5c5eVx930h9MtmsIB
PLUs/yhRgG6kr8B2jz7Be6x9jStrenqJRb8vrJ2qiBRPLVKrbjT/24VZyttOO6Du8Mfk4F
IKj2PKhgf+K3mHp0BZ9msUbRrHSmemv9bLmdXr0TDLplniNEyN0dmznaXT//XjALaDcnRs
pufD/xEe5y8WI+tvv+ipUQeaJsh3lhAfb4ZXy8lMymPXiRwMHHTN9/7IwGiOGSUPPvsdin
dPny0QdU5ZgHqbZFvpwQAAAQAjcQ2EzcuZGyKCpManQYyQaFrNUMcouz6bGAedPsQqtdw5
ymjo4VyKdUcFFDcb10Shh/+LesKceRrcib0rec9/KjqVF+gEDysktnI3XCCp43XA0i5elr
WIMfBs7XxduF0YA1Cr/qRC8I5y/DIfIbv8Lz/Ix6kVJhUf1I7idGIRbPIDOhKCdJbzKcyw
pZpKSXDEAGK80ijUwx6cNWJefjR8Y9zt0Dt0BKjhR9YKtrsZHFTR4F9dyWTTFNOo6XvL7j
v+Dn34pL8caH7Fn1ysPIBkIBOd9scEsTlg2zrZVAIa8teTMQnjdD78q3dN/6CKP7uZnvF3
0hEQRI6UCX+6JkjsAAABAQDnVPabM8/fniKsBAaSsHMb9/xKwLwLdFR6R6LjF+v+mkU8qW
oBHZg69i4U3SuezCQsOtOvPt5PFTbWYyMKszk0S3SvVwnbrjfGSgZuZqFwnI9DprtCU9Dt
5KffKwu3WAzZB318oPn5Dvx5ZqUxcjAlb3lILebwFCTfwN8uDPBHWJVIT2abDEN+7uYYaa
NNu+uUQGUZwScERxQGE5DCA8UPLGno63Vwqp2ElP68FsXwR794xI1B1NEpxcPFsIiu4nQd
8D+IsrIZiZO9iJZ+pawjPEZUosbs6HvnvBxbBmmFwfjHxhjPfUIVH2I/bIINxV3cgHlY/B
dyrfzdD5Z1XR+DAAABAQDdVNvlEeMMUn39O6brHUfit8q1cnEkYxTDBwr1Vhj7Dh2cN3Gz
pSeTi40YCfqo0q2hL8d9ZJ3pDmRoAyONJviCkATReLizuhnbJvlcuYgAbS84nqfmXYNAkn
AQJowzPKFCTM2x76UtrJyn0I7xvUtMYaSpQBAMWMysOuBs1x/O+RSqapP56Bm+zTjdcR1b
Z5IWOOLaF7BbUzfW2UR4fUbrTxvhMRmrn5s661sttspBHp2idzQ/MkE66y0jm2cTw5CHw4
A2O3rr4cHTWhlmEBhohMlivtRkwCG8+Cuw634/Bn6DnzbFrpSIx1LrOFktXqYf2MKBBC5E
F5ayxoqko1rxAAAAE2Zhbmh1YUBoZXgtdGVjaC5uZXQBAgMEBQYH
-----END OPENSSH PRIVATE KEY-----
`)
)
